<h1>Login View</h1>
<a [routerLink]="['/tasks']">Go Back to Tasks</a>
<form>
	<div class="form-group">
		<div class="form-group">
			<label for="username">Username</label>
			<input
				type="text"
				class="form-control"
				id="username"
				aria-describedby="emailHelp"
			/>
			<small id="emailHelp" class="form-text text-muted"
				>We'll never share your email with anyone else.</small
			>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" />
		</div>
		<button type="button" class="btn btn-success" (click)="onReset()">
			Reset
		</button>
		<button type="button" class="btn btn-primary" (click)="onLogin()">
			Login
		</button>
	</div>
</form>
